.card {
  width: 360px;
  height: 400px;
  background-color: #253354;
  color: #f2f3f4;
  border-radius: 5px;
}

.img {
  width: 100%;
  height: 40%;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.description {
  display: -webkit-box;
  margin: 20px;
  font-size: 20px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 8;
}

.card:hover {
  display: inline-block;
  height: auto;
}

.card:hover .description {
  display: block;
}
