.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #212121;
  color: #f2f3f4;
  font-size: 20px;
}

.emailCopyContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 250px;
}

.emailButton {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 31px;
  font-size: 20px;
  background-color: #212121;
  color: #f2f3f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.emailButton p {
  margin: 3px;
}

.copy {
  height: 25px;
  margin: 0 0 0 4px;
  padding: 3px;
  border-radius: 4px;
  filter: invert(94%) sepia(6%) saturate(34%) hue-rotate(169deg) brightness(101%) contrast(85%);
}

.emailButton:hover {
  background-color: #323232;
}

.emailCopied {
  display: inline-block;
  position: absolute;
  right: inherit;
  bottom: -30px;
  font-size: 18px;
  color: #e8d44d;
}

.none {
  display: none;
}

.vibrate {
  animation: vibrate 0.13s infinite;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 60%;
  min-width: 365px;
  max-width: 650px;
  height: 60%;
  min-height: 390px;
  background-color: #253354;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 22px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.labInpContainer {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}

.labInpContainer label {
  width: 50px;
}

.labInpContainer input {
  width: 80%;
  margin-left: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 17px;
}

.message {
  margin: 5px 0;
}

.textarea {
  height: 80%;
  border-radius: 5px;
  font-size: 17px;
}

@keyframes vibrate {
  0% {
    transform: translateX(-2px);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
